<div class="container" style="display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;">
    <div class="card">
        <div class="card-body">
            <div style="text-align: center; padding:10px">
                <h5 class="card-title">Olvidaste tu contraseña?</h5>
            </div>
            <form action="/auth/forgot-password" , method="post">
                <div class="form-group">
                    <label for="inputUsername">Email</label>
                    <input type="text" class="form-control" id="email" name="email"
                        placeholder="Ingrese su email">
                </div>
                <div style="text-align: center; padding:10px">
                    <button type="submit" class="btn btn-success">Restablacer contraseña</button>
                </div>
            </form>
            <div style="text-align: center; padding:5px">
                <a href="/auth/register"> No tienes cuenta? Registrarse</a>
            </div>
            <div style="text-align: center; padding:5px">
                <a href="/auth/login">Ya tienes cuenta? Ingresar</a>
            </div>

        </div>
    </div>
</div>

<footer style="text-align: center; padding: 20px; background-color: #2B3036;">
    <!-- Iconos de redes sociales -->
    <a href="#" style="font-size: 24px; margin: 0 10px; color: white"><i class="bi-instagram"></i></a>
    <a href="#" style="font-size: 24px; margin: 0 10px; color: white"><i class="bi-facebook"></i></a>
    <a href="#" style="font-size: 24px; margin: 0 10px; color: white"><i class="bi-linkedin"></i></a>
    <h3 style="color: white;">www.tiendalaurenti.com</h3>
</footer>