<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/products/createproduct">Crear Producto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/chat">Chat</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav class="navbar bg-body-tertiary" style="width:100vw ">
  <div class="container-fluid" style="text-align: center; ">
    <form class="" role="" onsubmit="return updateProduct()" style="width:100vw">
      <h2 style="font-family:sans-serif; ">Actualizar productos</h2>
      {{!-- <label for="">Owner ID:</label>
      <input class="form-control me-2" type="text" value="{{@root.data}}" aria-label="Search" id="owner" name="owner"
        readonly style="margin:10px; text-align: center;"> --}}
      <label for="">ID del producto:</label>
      <input class="form-control me-2" type="text" value="{{@root.data}}" aria-label="Search" id="id2" readonly
        style="margin:10px; text-align: center;">
      <input class="form-control me-2" type="text" placeholder="Titulo" aria-label="Search" id="title2"
        style="margin:10px">
      <input class="form-control me-2" type="text" placeholder="Descripcion" aria-label="Search" id="description2"
        style="margin:10px">
      <input class="form-control me-2" type="text" placeholder="Codigo" aria-label="Search" id="code2"
        style="margin:10px">
      <input class="form-control me-2" type="text" placeholder="Precio" aria-label="Search" id="price2"
        style="margin:10px">
      <input class="form-control me-2" type="text" placeholder="Stock" aria-label="Search" id="stock2"
        style="margin:10px">
      <input class="form-control me-2" type="text" placeholder="Categoria" aria-label="Search" id="category2"
        style="margin:10px">
      <button class="btn btn-outline-success" type="submit" style="margin: 10px;">Actualizar Producto</button>
    </form>
  </div>
</nav>

<footer style="text-align: center; padding: 20px; background-color: #2B3036;">
  <!-- Iconos de redes sociales -->
  <a href="#" style="font-size: 24px; margin: 0 10px; color: white"><i class="bi-instagram"></i></a>
  <a href="#" style="font-size: 24px; margin: 0 10px; color: white"><i class="bi-facebook"></i></a>
  <a href="#" style="font-size: 24px; margin: 0 10px; color: white"><i class="bi-linkedin"></i></a>
  <h3 style="color: white;">www.tiendalaurenti.com</h3>
</footer>

<script src="/js/products.js"></script>